<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="hierarchyviewer.ios.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="hierarchyviewer.ios.Perspective"
            id="HierarchyViewer_for_iOS.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="hierarchyviewer.ios.views.TreeViewListView"
            icon="icons/list.png"
            id="hierarchyviewer.ios.views.TreeViewListView"
            name="控件树列表">
      </view>
      <view
            class="hierarchyviewer.ios.views.ScreenShotView"
            icon="icons/base_screen.png"
            id="hierarchyviewer.ios.views.ScreenShotView"
            name="截屏视图">
      </view>
      <view
            class="hierarchyviewer.ios.views.ControlPropertiesView"
            icon="icons/properties.gif"
            id="hierarchyviewer.ios.views.ControlPropertiesView"
            name="属性视图">
      </view>
      <view
            class="hierarchyviewer.ios.views.HierarchyView"
            icon="icons/hierarchy_co.gif"
            id="hierarchyviewer.ios.views.HierarchyView"
            name="控件树视图">
      </view>
            <view
                  class="hierarchyviewer.ios.views.HierarchyOverView"
                  icon="icons/hierarchy_thumbnail.gif"
                  id="hierarchyviewer.ios.views.HierarchyOverView"
                  name="控件树缩略图">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Save hierarchy view as picture"
            description="Save hierarchy view as picture"
            categoryId="hierarchyviewerlib.SaveHierarchyViewPicture"
            id="hierarchyviewerlib.SaveHierarchyViewPicture">
      </command>
      <command
            name="Open iQueryCreatorDialog"
            description="Open iQueryCreatorDialog"
            categoryId="hierarchyviewerlib.iQueryCreatorDialog"
            id="hierarchyviewerlib.iQueryCreatorDialog">
      </command>
      <command
            name="Open log file"
            description="Open log file"
            categoryId="hierarchyviewerlib.OpenLogFile"
            id="hierarchyviewerlib.OpenLogFile">
      </command>
      <command
            name="Refresh log file"
            description="Refresh log file"
            categoryId="hierarchyviewerlib.RefreshLogFile"
            id="hierarchyviewerlib.RefreshLogFile">
      </command>
      <command
            name="Open views"
            description="Open views"
            categoryId="hierarchyviewerlib.OpenView"
            id="hierarchyviewerlib.OpenView">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="HierarchyViewer_for_iOS.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="HierarchyViewer_for_iOS.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="HierarchyViewer_for_iOS.application"
            name="HierarchyViewer for iOS">
         <property
               name="aboutText"
               value="Copyright © 2012 Zhiping Inc. All rights reserved.&#x0A;website: www.vowei.com">
         </property>
         <property
               name="windowImages"
               value="icons/hierarchyviewer16.png,icons/hierarchyviewer32.png,icons/hierarchyviewer48.png,icons/hierarchyviewer64.png,icons/hierarchyviewer128.png">
         </property>
         <property
               name="aboutImage"
               value="product_lg.png">
         </property>
         <property
                name="preferenceCustomization"
                value="plugin_customization.ini"/>
         <property
               name="appName"
               value="HierarchyViewer for iOS">
         </property>
      </product>
   </extension>
   <extension
         id="release"
         point="org.eclipse.core.runtime.products">
      <product
            application="HierarchyViewer_for_iOS.application"  name="HierarchyViewer for iOS">
         <property
               name="appName" value="HierarchyViewer for iOS">
         </property>
         <property
               name="windowImages"
               value="icons/hierarchyviewer16.png,icons/hierarchyviewer32.png,icons/hierarchyviewer48.png,icons/hierarchyviewer64.png,icons/hierarchyviewer128.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="product_lg.png">
         </property>
         <property
               name="aboutText"
               value="Copyright © 2012 Zhiping Technology Co., Limited All rights reserved.&#x0A;Version:1.0.0&#x0A;github: http://github.com/vowei/HierarchyViewer-4-iOS&#x0A;website: http://www.vowei.com">
         </property>
      </product>
   </extension>

</plugin>
